<div class="container">
<h1>Cocktails' list</h1>
    <div class="cards">

    <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail) do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%= cocktail.name %>
    </div>
    <% end %>
    <% end %>

  <%= link_to "Create a cocktail", new_cocktail_path %>
</div>
</div>
