<div class="container">
<h1>Cocktails' list</h1>
    <div class="cards">
    <ul style="list-style-type:none;">
    <% @cocktails.each do |cocktail| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
    <% end %>
    </div>
    </div>
  </ul>
  <%= link_to "Create a cocktail", new_cocktail_path %>
</div>
