.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 100px;
  background-color: black;
  opacity: 0.9;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  text-align: right;
  position: relative;
}

.nav-link a {
  position: absolute;
  right: 24px;
  bottom: -54px;
}

.nav-link a:hover {
  background-color: gold;
  text-decoration: none;
}
