// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
a.btn.btn-primary.back {
  margin: 10px;
  margin-left: 0px;
}

a.btn.btn-primary.edit {
  margin: 10px;
}

a.btn.btn-primary.delete {
  margin: 10px;
}

.cocktails-list {
  margin-bottom: 24px;
}

ul {
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-search {
  position: relative;
  margin-bottom: 30px;
}

.search-button {
 position: absolute;
 right: -7px;
 top: 2px;
}
